<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--日志输出格式-->
    <!-- 控制台颜色参考：https://logback.qos.ch/manual/layouts.html#coloring -->
    <property name="consolePattern" value="%d{HH:mm:ss.SSS} %green(%5p) [%yellow(%15.15t)] %cyan(%-40.40c{39}) [%blue(%4L)] : %m%n"/>
    <property name="commonPattern" value="%d{MM-dd HH:mm:ss.SSS} %5p [%15.15t] %-60.60c{59} : %m%n"/>
    <property name="errorPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p ${PID:-} [%20.20t] %-60.60c{59}[%4L] : %m%n"/>
    <!--定义日志文件的存储地址 勿在生产环境下在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="./logs" />
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_NAME" value="student" />

    <!--输出日志格式-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${consolePattern}
            </pattern>
        </layout>
    </appender>

    <!--只保存info日志-->
    <appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 当前的日志文件存放路径 -->
        <file>${LOG_HOME}/${LOG_NAME}_info.log</file>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 历史日志文件的存放路径和名称 -->
            <fileNamePattern>${LOG_HOME}/info/${LOG_NAME}_info.%d.%i.log.gz</fileNamePattern>
            <!-- 日志文件最大的保存历史 数量-->
            <maxHistory>8</maxHistory>
            <!-- 日志文件最大的保存大小 -->
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${commonPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 用过滤器，只接受INFO级别的日志信息，其余全部过滤掉 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--只保存warn日志-->
    <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_NAME}_warn.log</file>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/warn/${LOG_NAME}_warn.%d.%i.log.gz</fileNamePattern>
            <maxHistory>8</maxHistory>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${commonPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--只保存error日志-->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${LOG_NAME}_error.log</file>
        <!--滚动输出策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/error/${LOG_NAME}_error.%d.%i.log.gz</fileNamePattern>
            <maxHistory>8</maxHistory>
            <maxFileSize>5MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${errorPattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="info"/>
        <appender-ref ref="warn"/>
        <appender-ref ref="error"/>
    </root>

</configuration>
