<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.demo.mapper.ClassStudentMapper">

    <insert id="batchInsert">
        insert into class_student(class_id, student_id) value
        <foreach collection="col" item="item" separator=",">
            (#{classId}, #{item})
        </foreach>
    </insert>

    <select id="getOperateStudentList" resultType="gs.demo.domain.User">
        SELECT
            *
        FROM
            user u
            LEFT JOIN class_student cs ON u.id = cs.student_id AND cs.class_id != #{classId}
        WHERE
            u.identity = 0 AND cs.student_id IS NULL
    </select>

</mapper>
