<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gs.demo.mapper.WorkMapper">

    <select id="selectPageList" resultType="gs.demo.vo.WorkCompletionPageListVo">
        SELECT
            w.*,
            c.NAME AS className,
            u.NAME AS studentName,
            s.NAME AS courseName
        FROM
            work_completion w
                LEFT JOIN class c ON w.class_id = c.id
                LEFT JOIN USER u ON w.student_id = u.id
                LEFT JOIN COURSE s ON w.course_id = s.id
        <where>
            <if test="param.statisticsTimeSt != null and param.statisticsTimeEt != null">
                AND w.statistics_time BETWEEN #{param.statisticsTimeSt} AND #{param.statisticsTimeEt}
            </if>
            <if test="param.completionLevel != null">
                AND w.COMPLETION_LEVEL = #{param.completionLevel}
            </if>
            <if test="param.classId != null">
                AND w.class_id = #{param.classId}
            </if>
            <if test="param.courseId != null">
                AND w.course_id = #{param.courseId}
            </if>
            <if test="param.studentName != null and param.studentName != ''">
                AND u.name like concat('%', #{param.studentName}, '%')
            </if>
        </where>
    </select>

    <select id="getCompletionLevelPie" resultType="gs.demo.domain.PieData">
        SELECT
            w.completion_level as id,
            count(0) as value
        FROM
            work_completion w
            LEFT JOIN class c ON w.class_id = c.id
            LEFT JOIN USER u ON w.student_id = u.id
        <where>
            <if test="param.statisticsTimeSt != null and param.statisticsTimeEt != null">
                AND w.statistics_time BETWEEN #{param.statisticsTimeSt} AND #{param.statisticsTimeEt}
            </if>
            <if test="param.completionLevel != null">
                AND w.COMPLETION_LEVEL = #{param.completionLevel}
            </if>
            <if test="param.classId != null">
                AND w.class_id = #{param.classId}
            </if>
            <if test="param.courseId != null">
                AND w.course_id = #{param.courseId}
            </if>
            <if test="param.studentName != null and param.studentName != ''">
                AND u.name like concat('%', #{param.studentName}, '%')
            </if>
        </where>
        group by w.completion_level
        order by w.completion_level
    </select>

    <insert id="batchAdd">
        insert into work_completion(student_id, class_id, course_id, statistics_time, completion_level) value
        <foreach collection="list" item="item" separator=",">
            (#{item.studentId}, #{item.classId}, #{item.courseId}, #{item.statisticsTime}, #{item.completionLevel})
        </foreach>
    </insert>

</mapper>
